<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="field">
     <%= f.label :Car_VIN %><br>
     <%= f.collection_select :car_id, Car.all, :id, :car_VIN %>
   </div>

    <div class="field">
      <%= f.label :sales_person %><br>
      <%= f.collection_select :sales_person_id, SalesPerson.all, :id, :sperson_fname %>
    </div>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= f.label :finance_manager %><br>
    <%= f.collection_select :finance_manager_id, FinanceManager.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= f.label :quote_status, "Car Sold?" %><br>
    <%= f.check_box :quote_status %>
  </div>

  <div class="field">
    <%= f.label :quote_price, "Quote Price" %><br>
    <%= f.text_field :quote_price%>
  </div>

  <div class="field">
    <%= f.label :quote_tax %><br>
    <%= f.text_field :quote_tax %>
  </div>
  <div class="field">
    <%= f.label :quote_total, "Quote Total (place mouse over here to generate total)" %><br>
    <%= f.text_field :quote_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

