<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.car_VIN %>
</p>

<p>
  <strong>Sales person:</strong>
  <%= @quote.sales_person.sperson_fname %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Finance manager:</strong>
  <%= @quote.finance_manager.full_name %>
</p>

<p>
  <strong>Car Sold?</strong>
  <%= @quote.quote_status %>
</p>

<p>
  <strong>Quote price:</strong>
  <%= number_to_currency(@quote.quote_price) %>
</p>

<p>
  <strong>Quote tax:</strong>
  <%= number_to_currency(@quote.quote_tax) %>
</p>

<p>
  <strong>Quote total:</strong>
  <%= number_to_currency(@quote.quote_total) %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
