<p id="notice"><%= notice %></p>

<h1>Vehicles sold</h1>

<table>
  <thead>
  <tr>
    <th>Car VIN</th>
    <th>Sales person</th>
    <th>Customer</th>
    <th>Finance manager</th>
    <th>Car Sold?</th>
    <th>Quote price</th>
    <th>Quote tax</th>
    <th>Quote total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.car.car_VIN %></td>
        <td><%= quote.sales_person.sperson_fname %></td>
        <td><%= quote.customer.full_name %></td>
        <td><%= quote.finance_manager.full_name %></td>
        <td><%= quote.quote_status %></td>
        <td><%= number_to_currency(quote.quote_price) %></td>
        <td><%= number_to_currency(quote.quote_tax) %></td>
        <td><%= number_to_currency(quote.quote_total) %></td>
        <td><%= link_to 'Show', quote %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<p>Gross sales amount: <%= number_to_currency(Quote.calc_gross_profit(@quotes)) %></p>
