<%= form_for(@finance_manager) do |f| %>
  <% if @finance_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance_manager.errors.count, "error") %> prohibited this finance_manager from being saved:</h2>

      <ul>
      <% @finance_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fman_fname %><br>
    <%= f.text_field :fman_fname %>
  </div>
  <div class="field">
    <%= f.label :fman_lname %><br>
    <%= f.text_field :fman_lname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
