<p id="notice"><%= notice %></p>

<h1>Listing Finance Managers</h1>

<table>
  <thead>
    <tr>
      <th>Fman fname</th>
      <th>Fman lname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finance_managers.each do |finance_manager| %>
      <tr>
        <td><%= finance_manager.fman_fname %></td>
        <td><%= finance_manager.fman_lname %></td>
        <td><%= link_to 'Show', finance_manager %></td>
        <td><%= link_to 'Edit', edit_finance_manager_path(finance_manager) %></td>
        <td><%= link_to 'Destroy', finance_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance manager', new_finance_manager_path %>
