<p id="notice"><%= notice %></p>

<p>
  <strong>Fman fname:</strong>
  <%= @finance_manager.fman_fname %>
</p>

<p>
  <strong>Fman lname:</strong>
  <%= @finance_manager.fman_lname %>
</p>

<%= link_to 'Edit', edit_finance_manager_path(@finance_manager) %> |
<%= link_to 'Back', finance_managers_path %>
