<%= form_for(@sales_manager) do |f| %>
  <% if @sales_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_manager.errors.count, "error") %> prohibited this sales_manager from being saved:</h2>

      <ul>
      <% @sales_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sman_fname %><br>
    <%= f.text_field :sman_fname %>
  </div>
  <div class="field">
    <%= f.label :sman %><br>
    <%= f.text_field :sman %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
