<p id="notice"><%= notice %></p>

<h1>Listing Sales Managers</h1>

<table>
  <thead>
    <tr>
      <th>Sman fname</th>
      <th>Sman</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_managers.each do |sales_manager| %>
      <tr>
        <td><%= sales_manager.sman_fname %></td>
        <td><%= sales_manager.sman_lname %></td>
        <td><%= link_to 'Show', sales_manager %></td>
        <td><%= link_to 'Edit', edit_sales_manager_path(sales_manager) %></td>
        <td><%= link_to 'Destroy', sales_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales manager', new_sales_manager_path %>
