<p id="notice"><%= notice %></p>

<p>
  <strong>Sman fname:</strong>
  <%= @sales_manager.sman_fname %>
</p>

<p>
  <strong>Sman:</strong>
  <%= @sales_manager.sman %>
</p>

<%= link_to 'Edit', edit_sales_manager_path(@sales_manager) %> |
<%= link_to 'Back', sales_managers_path %>
