<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_fname, "First Name" %><br>
    <%= f.text_field :customer_fname %>
  </div>
  <div class="field">
    <%= f.label :customer_lname, "Last Name" %><br>
    <%= f.text_field :customer_lname %>
  </div>
  <div class="field">
    <%= f.label :customer_phone %><br>
    <%= f.text_field :customer_phone %>
  </div>
  <div class="field">
    <%= f.label :customer_email %><br>
    <%= f.text_field :customer_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
