<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<!--
Starting the search form here.
-->
<%= form_tag customers_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :placeholder => "Customer name..." %>
      <%= submit_tag "Search", :name => nil %>
    </p>

<% end %>

<!--
Pagination code
-->
<%= paginate @customers %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Customer phone</th>
      <th>Customer email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_fname %></td>
        <td><%= customer.customer_lname %></td>
        <td><%= customer.customer_phone %></td>
        <td><%= customer.customer_email %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Customer', new_customer_path %>
