<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.customer_fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.customer_lname %>
</p>

<p>
  <strong>Customer phone:</strong>
  <%= @customer.customer_phone %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @customer.customer_email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
