<h1>Payment Plan Generator</h1>

<%= form_tag("/calculate", method:"post",:id => "plangen") do %>
    <%= label_tag(:amt, "Car Price Amount:") %>
    <%= text_field_tag(:amt) %><br>
    <%= label_tag(:dp, "Down Payment:") %>
    <%= text_field_tag(:dp) %><br>
    <%= label_tag(:int, "Annual Interest %:") %>
    <%= text_field_tag(:int) %><br>

    <%= radio_button_tag(:years, "3 Years") %>
    <%= label_tag(:years3_child, "Will pay in 3 years") %><br>
    <%= radio_button_tag(:years, "4 Years") %>
    <%= label_tag(:years4_child, "Will pay in 4 years") %><br>
    <%= radio_button_tag(:years, "5 Years") %>
    <%= label_tag(:years5_child, "Will pay in 5 years") %><br>

    <%= label_tag(:resu, "You will pay $ monthly:") %>
    <%= text_field_tag(:resu) %><br>

    <button type="button" id = "calc">Calculate</button>
<% end %>