<%= form_for(@inventory_manager) do |f| %>
  <% if @inventory_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_manager.errors.count, "error") %> prohibited this inventory_manager from being saved:</h2>

      <ul>
      <% @inventory_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :iman_fname %><br>
    <%= f.text_field :iman_fname %>
  </div>
  <div class="field">
    <%= f.label :iman_lname %><br>
    <%= f.text_field :iman_lname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
