<p id="notice"><%= notice %></p>

<h1>Listing Inventory Managers</h1>

<table>
  <thead>
    <tr>
      <th>Iman fname</th>
      <th>Iman lname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_managers.each do |inventory_manager| %>
      <tr>
        <td><%= inventory_manager.iman_fname %></td>
        <td><%= inventory_manager.iman_lname %></td>
        <td><%= link_to 'Show', inventory_manager %></td>
        <td><%= link_to 'Edit', edit_inventory_manager_path(inventory_manager) %></td>
        <td><%= link_to 'Destroy', inventory_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory manager', new_inventory_manager_path %>
