<p id="notice"><%= notice %></p>

<p>
  <strong>Iman fname:</strong>
  <%= @inventory_manager.iman_fname %>
</p>

<p>
  <strong>Iman lname:</strong>
  <%= @inventory_manager.iman_lname %>
</p>

<%= link_to 'Edit', edit_inventory_manager_path(@inventory_manager) %> |
<%= link_to 'Back', inventory_managers_path %>
