<h2>Owner Summary</h2>
<!--hidden fields are the real MVP here... -->
<p>Gross sales amount:</p><p><h6><%= number_to_currency(Quote.calc_gross_profit(@quotes)) %></h6></p>
<input type="hidden" id="gross" value="<%= Quote.calc_gross_profit(@quotes) %>" />
<p>Total sales tax paid:</p><p><h6><%= number_to_currency(Quote.calc_total_tax(@quotes)) %></h6></p>
<input type="hidden" id="total" value="<%= Quote.calc_total_tax(@quotes) %>" />
<p>Total net sales:</p><h6 id="netsales"></h6></p>