/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font: 100%/1.2 Arial, Helvetica, sans-serif;
    background-color: #ccc
;
}

#logo {
    font-weight: bolder;
    text-shadow: 4px 4px #ccc;
}

#heading {
    font-size: 1.3em;
    width: 40em;
    height: 5.3em;
    padding: 0.2em 2em 1em 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    line-height: 140%;
    position: relative; }

#navbar{
    z-index: 900;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height:10px;
}

#navbar li{
    z-index: 900;
    list-style-type: none;
    float: left;
    height:20px;
    line-height:20px;
    margin: 1em;
}


#navbar li:hover ul {
    z-index: 950;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 13em;
}
#navbar li:hover li {
    float: none;
}

#navbar li ul {
    display: none;
    width: 10em;
    background-color: #000;
}

#navbar li:hover li a {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}

#navbar li li a:hover {
    background-color: #999999;
}
#home {
    position: absolute;
    right: 0px;
    width: 8em;
}


#content{
    z-index: 900;
    background-color: #fff;
    width: 53.4em;
    height: auto;
    padding: 0.2em 2em 1em 2em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 140%;
    position: relative;
}
