<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inventory_manager %><br>
    <%= f.collection_select :inventory_manager_id, InventoryManager.all, :id, :iman_fname %>
  </div>
  <div class="field">
    <%= f.label :car_VIN %><br>
    <%= f.text_field :car_VIN %>
  </div>
  <div class="field">
    <%= f.label :car_make %><br>
    <%= f.text_field :car_make %>
  </div>
  <div class="field">
    <%= f.label :car_model %><br>
    <%= f.text_field :car_model %>
  </div>
  <div class="field">
    <%= f.label :car_color %><br>
    <%= f.text_field :car_color %>
  </div>
  <div class="field">
    <%= f.label :car_price %><br>
    <%= f.text_field :car_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
