<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>


<!--
Starting the search forms here.
-->
<%= form_tag cars_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :placeholder => "Car VIN, model or color" %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<!--
Pagination code
-->
<%= paginate @cars %>




<table>
  <thead>
    <tr>
      <th>Inventory manager</th>
      <th>Car vin</th>
      <th>Car make</th>
      <th>Car model</th>
      <th>Car color</th>
      <th>Car price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.inventory_manager.iman_fname %></td>
        <td><%= car.car_VIN %></td>
        <td><%= car.car_make %></td>
        <td><%= car.car_model %></td>
        <td><%= car.car_color %></td>
        <td><%= number_to_currency(car.car_price) %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
