<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory manager:</strong>
  <%= @car.inventory_manager.iman_fname %>
</p>

<p>
  <strong>Car vin:</strong>
  <%= @car.car_VIN %>
</p>

<p>
  <strong>Car make:</strong>
  <%= @car.car_make %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @car.car_model %>
</p>

<p>
  <strong>Car color:</strong>
  <%= @car.car_color %>
</p>

<p>
  <strong>Car price:</strong>
  <%= number_to_currency(@car.car_price) %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
