<%= form_for(@sales_person) do |f| %>
  <% if @sales_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_person.errors.count, "error") %> prohibited this sales_person from being saved:</h2>

      <ul>
      <% @sales_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sales_manager %><br>
    <%= f.collection_select :sales_manager_id, SalesManager.all, :id, :sman_fname %>
  </div>
  <div class="field">
    <%= f.label :sperson_fname, "First Name" %><br>
    <%= f.text_field :sperson_fname %>
  </div>
  <div class="field">
    <%= f.label :sperson_lname, "Last Name" %><br>
    <%= f.text_field :sperson_lname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
