<p id="notice"><%= notice %></p>

<h1>Listing Sales People</h1>

<table>
  <thead>
    <tr>
      <th>Sales manager</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_people.each do |sales_person| %>
      <tr>
        <td><%= sales_person.sales_manager.sman_fname %></td>
        <td><%= sales_person.sperson_fname %></td>
        <td><%= sales_person.sperson_lname %></td>
        <td><%= link_to 'Show', sales_person %></td>
        <td><%= link_to 'Edit', edit_sales_person_path(sales_person) %></td>
        <td><%= link_to 'Destroy', sales_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales person', new_sales_person_path %>
