<p id="notice"><%= notice %></p>

<p>
  <strong>Sales manager:</strong>
  <%= @sales_person.sales_manager_id %>
</p>

<p>
  <strong>Sperson fname:</strong>
  <%= @sales_person.sperson_fname %>
</p>

<p>
  <strong>Sperson lname:</strong>
  <%= @sales_person.sperson_lname %>
</p>

<%= link_to 'Edit', edit_sales_person_path(@sales_person) %> |
<%= link_to 'Back', sales_people_path %>
