<!DOCTYPE html>
<html>
<head>
  <title>Dealership</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="heading">
  <div id="logo">
    <h1>Diego's Car Dealership</h1>
  </div>
  <ul id ="navbar">

  <li>
    <%= link_to "Salesman", sales_people_path %>
    <ul>
      <li><%= link_to"Vehicle Quotes", quotes_path %></li>
      <li><%= link_to "Inventory Search", cars_path %></li>
      <li><%= link_to "Customer Search", customers_path %></li>
    </ul>
  </li>

  <li>
    <%= link_to "Sales Manager", sales_managers_path %>
    <ul>
      <li><%= link_to "Sales Employees", sales_people_path %></li>
      <li><%= link_to "Sales", soldquotes_page_path('Sold') %></li>
    </ul>
  </li>

  <li>
    <%= link_to "Finance Manager", finance_managers_path %>
    <ul>
      <li><%= link_to "Payment Plan", generator_page_path('Generator') %></li>
    </ul>
  </li>

  <li>
    <%= link_to "Inventory Manager", inventory_managers_path %>
    <ul>
      <li><%= link_to "Manage Inventory", cars_path %></li>
    </ul>
  </li>

  <li>
    <%= link_to "Owner", summary_page_path('Summary') %>
  </li>

    <li id="home">
      <%= link_to "HOME", "/" %>
    </li>

  </ul>



</div>

<div id="content">
    <%= yield %>
</div>

</body>
</html>
